div {
	display: grid;
	word-wrap: break-word;
	grid-auto-flow: dense;
	align-self: center;
}

div:nth-child(n) {
	grid-auto-rows: min-content;
	align-self: flex-start;
}
div:nth-last-of-type(2n) {
	grid-column: span auto;
	grid-row: span auto;
}
div:nth-child(4n) {
	grid-column: span 1;
}
div:nth-child(8n) {
	grid-column: span 1;
	grid-row: span 1;
}
div:nth-child(11n) {
	grid-column: span 1;
}

.para {
	font-family: "Lora";
	text-align: justify;
	line-height: 1.4rem;
}
